h3{
    font-size: 30px;
    text-decoration: underline;
}
.second{
    display: none;
}
.header{
    height: 300px;
    width:1000px;
    background-image: url(/Project-1/elden-ring-godfrey-7qboqkxbejceaz49.jpg);
background-size: contain;
background-repeat: no repeat;
}